<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="box">
    <div class="header_re header_de">
        <div class="person">
        </div>
        <div class="goHome">
            <a href="/vote/index">活动首页</a>
        </div>
    </div>
    <div class="content_de">
        <div class="friend">
            <div class="line"></div>
            <div class="ol"></div>
            <div class="contxt">已投票的好友</div>
            <div class="ol"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="footer">
        <ul class="persons_de">
        </ul>
    </div>
</div>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/index1.js"></script>
</body>
</html>