<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="box">
    <div class="header_in">
        <div class="nav">
            <div class="sign">
                <a href="#" class="aLogin">
                    <span>用户登陆</span>
                </a>
            </div>
            <div class="rule">
                <a href="/vote/rule">
                    <span>活动规则</span>
                </a>
            </div>
        </div>
        <div class="logo">
            <img src="/images/title.png" alt="">
        </div>
        <div class="go">
            <a href="/vote/register">我要报名</a>
        </div>
        <div class="search">
            <input type="text" placeholder="请输入用户名称" class="searchIn">
            <span id="sBtn">搜索</span>
        </div>
    </div>
    <div class="content">
        <ul class="persons">
        </ul>
    </div>
</div>

<div class="login">
    <div class="logContent">
        <p>请输入用户信息进行验证</p>
        <input type="text" placeholder="请填写用户编号" class="loginId">
        <input type="text" placeholder="请填写用户密码" class="loginPassword">
        <div class="index_btn">提交</div>
        <p class="sign">没有用户名和编号？<a href="/vote/register">请先进行报名</a></p>
    </div>
</div>

<div class="outIn">
    <div class="content">
        <h2>Welcome!</h2>
        <p class="use"></p>
        <div class="out">退出</div>
    </div>
</div>
<script type="application/javascript" charset="utf-8" src="/javascripts/zepto.min.js"></script>
<script type="application/javascript" charset="utf-8" src="/javascripts/index1.js"></script>

</body>
</html>