<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="content_de content_ru">
        <div class="friend">
            <div class="line"></div>
            <div class="ol"></div>
            <div class="contxt">活动规则</div>
            <div class="ol"></div>
            <div class="line"></div>
        </div>
        <div class="rulec">
            <div>
                一个人最多投三票
            </div>
            <div>
                只有注册用户才可以有权限投票
            </div>
            <div>
                一个帐号不能重复投给同一个人
            </div>
            <div>
                用户也可以将票投给自己
            </div>
        </div>
    </div>
</body>
</html>