<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="box">
    <div class="content content_se">
        <ul class="persons">
        </ul>
    </div>
</div>
<div class="login">
    <div class="logContent">
        <p>请输入用户信息进行验证</p>
        <input type="text" placeholder="请填写用户编号" class="loginId">
        <input type="text" placeholder="请填写用户密码" class="loginPassword">
        <div class="index_btn">提交</div>
        <p class="sign">没有用户名和编号？<a href="/vote/register">请先进行报名</a></p>
    </div>
</div>
<script src="/javascripts/zepto.min.js"></script>
<script src="/javascripts/index1.js"></script>
</body>
</html>